[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
